.it_staff_discription {
  padding: 0rem 1.8rem;
}
.it_staffing_container {
  overflow-x: hidden !important;
}
p {
  text-align: justify !important;
}
h5 {
  text-align: justify !important;
}
.card_title {
  text-align: center !important;
}
