<div class="it_staffing_container">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(../assets/img/gallery/it_staffing.jpg);
        background-position: center bottom;
      "
    ></div>

    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              IT Staffing
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-100" style="padding: 4rem 0rem">
    <div class="row">
      <div class="col mb-6">
        <h3 class="text-center fs-2 fs-md-3">IT Staffing</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="col-12 it_staff_discription">
        <div class="bg-white px-3 px-0 py-5 px-lg-5 rounded-3">
          <h5>
            Hire the right resource for your business needs with no compromise
            on any traits.
          </h5>
          <p class="mt-3">
            Recruitment of the right human resources accomplishes half of the
            business goals and it is not the strategies, but people who take the
            organization to the next orbit.
          </p>
          <blockquote class="blockquote my-5 ms-lg-6" style="max-width: 700px">
            <h5 class="fw-medium ms-3 mb-0">
              We deliver Permanent recruitment services, Contractual hiring
              services and Campus recruitment services to its clients. &hellip;
            </h5>
          </blockquote>
          <h5>Subscribed Annual Recruitment Service</h5>
          <p class="mt-3">
            This is an economical and long-term agreement with our clients, who
            are subscribed to our recruitment services. We offer different
            subscription plans, with different to choose from. This is
            recommended for clients who are planning to hire more human
            resources.
          </p>
          <h5>Pay-per-hire Service</h5>
          <p class="mt-3">
            It is a simple recruitment process, where you pay for each candidate
            whom we place in your organization.
          </p>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 4rem">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Our Recruitment Ethos and Salient Features</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Accelerated Hiring
                </h5>
              </div>

              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Right from the word go, starting from getting the profile with
                  detailed job specifications to sourcing, screening, initial
                  interviewing and finalizing the shortlists, Comeds gives top
                  priority to your requirement, regardless of it being a
                  contractual or permanent role, we understand the value of
                  everyone’s time - The client, our team and the potential
                  candidates who invest their time to go through the recruitment
                  process.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Remote Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Not just for work-in-office roles, but we also recruit your
                  resources to work remotely on a contract / permanent basis.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Verified Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Outsourcing the recruitment process to COMEDS has an amplitude
                  of benefits and verified hiring is one of the key benefits. We
                  will do all the verifications related to the candidature, such
                  as background, legal history, previous employment,
                  certifications and income etc... Thus you can avoid any
                  possible worst-case scenarios.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Global Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  With our resources across the world, we can hire talents from
                  almost every city and remote location as you prefer. We have
                  successfully recruited resources and placed them in over ___
                  countries like India, USA, ____, (to be filled)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Integration Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We at Comeds can assist you in the most efficient integration
                  of corporate applications, data and processes. Our skilled
                  team builds amazing tailored integrated solutions that link
                  programs to help you dynamically expand your organization.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Economical Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We ensure your budget is maintained by providing you
                  candidates matching your offered pay scale. Also, the cost of
                  recruitment would be much more economical when compared to the
                  cost of in-house recruitment. We reduce your burden of
                  sourcing, short listing and screening processes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Topnotch Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Recruitment is not always meant to be a cost-focused process.
                  At times organizations need to bid for top-notch talent by
                  offering them an exclusive package and profile. We propose the
                  best available talents via headhunting and referrals.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Scalable Hiring
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We use the right technology and campaigns to tailor a hiring
                  process for your need. This helps to manage the crests and
                  troughs of your business. Hire more when the demand is more
                  and less when the demand is less. We help you downsize your
                  manpower without firing and affecting the morale of the human
                  resources.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-6">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Types of Staffing Services</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0"
            style="background-image: url(assets/img/gallery/it_staffing_1.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0 rounded-lg-te-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Permanent Staffing</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Every enterprise needs a core team at every functional level
                  to steer the organization into the future, which develops a
                  deep understanding of the work culture, core principles,
                  customer demands, stakeholders' role in the organizational
                  mission and not least - profitability. The longer the tenure
                  of the core team, the healthier the cohesiveness, thus
                  reducing the overall attrition rates.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative order-lg-2"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0"
            style="background-image: url(assets/img/gallery/it_staffing_2.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Contractual Staffing</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Would you hire a chef or visit a good continental restaurant
                  to satisfy your appetite? The choice is obvious and simple. It
                  is as simple as that with COMEDS. Contractual roles are highly
                  skill-based requirements that are time-specific (long term /
                  short term), task-oriented, precise, and budgeted.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0 rounded-bs-0 rounded-lg-bs-lg"
            style="background-image: url(/assets/img/gallery/campushiring.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Campus Hiring</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  We also get access to reputed institutions which may get you
                  fresh minds to add value to your processes. Through the campus
                  recruitment process across various institutions in various
                  countries, we can assist you in hiring innovative, agile,
                  committed and promising talents.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
