<div class="mech_staffing_container">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(../assets/img/gallery/mech_staffing.jpg);
        background-position: center bottom;
      "
    ></div>

    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              Mechanical Staffing
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-100" style="padding: 4rem 0rem">
    <div class="row">
      <div class="col mb-6">
        <h3 class="text-center fs-2 fs-md-3">Mechanical Staffing</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="col-12 mech_staff_discription">
        <div class="bg-white px-3 px-0 py-5 px-lg-5 rounded-3">
          <h5>With us, you can Make Machines Much More Magnificent (5MS)</h5>
          <p class="mt-3">
            Comeds Mechanical Consulting Services aims to elevate the industrial
            productivity of our clients by making their machines much more
            magnificent. We brainstorm every possible engineering rationale in
            designing, drawing, process automation, simulation, testing, and
            safety audits.
          </p>
          <blockquote class="blockquote my-5 ms-lg-6" style="max-width: 900px">
            <h5 class="fw-medium ms-3 mb-0">
              Our ideation process begins only after investing time to
              understand our clients’ existing technological processes and we
              imbibe their needs; so it becomes our accountability to deliver
              the seamless mechanical solution for them. &hellip;
            </h5>
          </blockquote>
          <h5>Where can we contribute?</h5>
          <p class="mt-3">
            Our in-house specialists from a spectrum of engineering disciplines
            would handle our clients’ outsourced projects in many serviceable
            areas such as drawing, designing, process automation, simulation,
            validation, manufacturing support, sourcing support, and safety
            audits.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
