<div class="solutions_container">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(assets/img/gallery/it-solution.jpg);
        background-position: center bottom;
      "
    ></div>

    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              IT Solutions
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div style="padding-top: 4rem; padding-bottom: 4rem" class="bg-100">
    <div class="row">
      <div class="col">
        <h3 class="text-center fs-2 fs-md-3">IT Services</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="col-12" style="padding: 0rem 1.8rem; margin-top: 4rem">
        <div class="bg-white px-3 px-0 py-5 px-lg-5 rounded-3">
          <h5>
            Sustainable Evolvement is the cord that connects your IT needs and
            our deliverables.
          </h5>
          <p class="mt-3">
            Comeds IT Services differs from the plethora of tech players by
            throwing off the much propounded ‘one shoe fits all’ theory. We
            start, understand, customize and develop IT solutions from square
            one of the client’s needs.
          </p>
          <blockquote class="blockquote my-5 ms-lg-6" style="max-width: 700px">
            <h5 class="fw-medium ms-3 mb-0">
              Regardless of how big or small the scale of the business, we value
              every client and their gratification &hellip;
            </h5>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="container mt-6">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Our Spectrum Of Services</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Software Application Services
                </h5>
              </div>

              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Comeds caters to the software needs of various sectors like
                  banking, insurance, retail, manufacturing, customer service,
                  healthcare and other industries. Ranging from SMEs to
                  multinational companies the software needs are becoming
                  inevitable to stand out, deliver and sustain in this
                  tech-savvy era.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Business Upgradation / Transformation Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Thus it readies the standards to steer the workforce towards
                  the mission. Comeds will support you to stay focused on
                  driving your organization, while we work along to ensure the
                  shortcomings in the processes are addressed with appropriate
                  technological solutions and upgrade or transform your business
                  to the next level.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Compliance Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Our compliance services insists periodic assessments to
                  determine whether existing processes, assets, policies and
                  systems are in accordance with national and worldwide rules
                  and guidelines.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  AI Implementation
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  With our AI implementation services, you can empower your
                  organization and apply Artificial Intelligence models tailored
                  to your sector, be it healthcare, advertising, finance,
                  hospitality, tourism, services or any sector. Our AI
                  implementation models will bring your whole business process
                  to the point where essential operations begin to improve
                  radically and the most crucial part is that you get
                  quantifiable outcomes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Integration Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We at Comeds can assist you in the most efficient integration
                  of corporate applications, data and processes. Our skilled
                  team builds amazing tailored integrated solutions that link
                  programs to help you dynamically expand your organization.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  DevOps Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  When the Venn of Development intersects with the Venn of
                  Operations, it results in DevOps! An integral part of our very
                  own process as well as we help you build your own DevOps
                  processes. It is rather an evolvement than an assembled
                  service, which eliminates time consumption and automates the
                  intervening processes between development and operations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Cloud Migration
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  When your company wants to move partial or complete data
                  center capabilities into the cloud, Comeds can help you to
                  shift your data center to be run on the cloud-based
                  infrastructure offered by various cloud service providers of
                  your choice such as Azure, AWS and Google Cloud etc...
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Maintenance and Support Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Our clients are our assets to envision the organizational
                  objectives. It is strategically simple to imply a win-win
                  directionally proportional approach, between our clients and
                  Comeds. What is the use of building ships if you don’t launch
                  them in water and see them sail? Sailing is not the answer
                  here but to see to it that it sails to its destiny. Our
                  maintenance and support services clear any icebergs in your
                  organization’s route.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Security Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Technological advancements have provided numerous benefits,
                  undeniable fact. Lo’behold it has its flipside as well. The
                  inevitability of risk exposure. The expansion of active
                  technologies like mobile, social, cloud and big data has had a
                  growing influence on security strategy. These technologies
                  will continue to complicate matters and push the security
                  requirements of IT infrastructure and information assets.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Remote Office Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  COMEDS’ virtual or remote offices are a fee-based service that
                  provides your businesses a virtual address. The location is
                  referred to as 'virtual' since you can use it to register your
                  business but do not utilize the real space as your primary
                  office. Remote offices are usually preferred for scanning
                  incoming emails, forwarding services, a helpdesk number and
                  other administrative support are common elements of most
                  virtual office services.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-6">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Our Solutions</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0"
            style="background-image: url(assets/img/gallery/it-solution_1.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0 rounded-lg-te-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  We offer application development options on various platforms
                </h5>
              </div>
              <div class="overflow-hidden mt-3">
                <ul>
                  <li>Android</li>
                  <li>iOS</li>
                  <li>Windows</li>
                  <li>Linux</li>
                  <li>Web Apps and</li>
                  <li>Cloud-based Apps</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative order-lg-2"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0"
            style="
              background-image: url(/assets/img/gallery/softwareservice.jpg);
            "
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  The various orbits in our software services
                </h5>
              </div>
              <div class="overflow-hidden mt-3">
                <ul>
                  <li>Customized Software Solutions</li>
                  <li>Software Revamping Services</li>
                  <li>Software Product Development Services</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0 rounded-bs-0 rounded-lg-bs-lg"
            style="background-image: url(assets/img/gallery/it-solution_3.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  Key Takeaways of Our Software Application Services
                </h5>
              </div>
              <div class="overflow-hidden mt-3">
                <ul>
                  <li>
                    Security and Compliance with regulations as you require
                  </li>
                  <li>Certified quality</li>
                  <li>Scheduled delivery</li>
                  <li>Dedicated Project Teams</li>
                  <li>Quantified KPIs at every stage</li>
                  <li>Multi-OS / platform compatibility</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative order-lg-2"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0"
            style="background-image: url(/assets/img/gallery/generic.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  A Generic Implementation Structure of our transformation
                  services
                </h5>
              </div>
              <div class="overflow-hidden mt-3">
                <ul>
                  <li>Understanding</li>
                  <li>Pre-Analysing</li>
                  <li>Pre-Reporting</li>
                  <li>Prototyping</li>
                  <li>Test Run</li>
                  <li>Reporting</li>
                  <li>Approval</li>
                  <li>Implementation</li>
                  <li>Post-Analysing</li>
                  <li>Post-Reporting</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
