.it_solution_discription {
  padding: 1.8rem 1.8rem !important;
}

.solutions_container {
  // margin-top: 4rem;
  overflow-x: hidden !important;
}
p {
  text-align: justify !important;
}
h5 {
  text-align: justify;
}
.card_title {
  text-align: center !important;
}
