<div style="overflow-x: hidden">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(../assets/img/gallery/our_impact.jpg);
        background-position: center bottom;
      "
    ></div>

    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              Our Impacts
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-100" style="padding: 4rem 0rem">
    <div class="container">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Our Impacts</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0"
            style="background-image: url(assets/img/gallery/ourimpact.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0 rounded-lg-te-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Impacts</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  A brainchild of a promising Tech-Core-Team of young minds, COMEDS LLC
                  operates from its corporate office, located in Grant Street, Pittsburgh, since
                  2016. Started with an aim of using technology and its in-house proficiency to
                  benefit its stakeholders from various verticals, which mainly include
                  Information Technology, Software development, and Core mechanical sectors.
                </p>
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  With our worldwide acquaintance of engineers, developers, designers, and core
                  experts, we offer scalable solutions to our clients through our distinct brands.
                  While offering à la carte services we ensure our deliverables are precise and
                  productive for every industry we serve, with International Standards as the
                  benchmark.
                </p>
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Though COMEDS is not snowballing but steadily cementing its position in the
                  niche market, where we are retaining and increasing our satisfied clientele. As
                  we continuously leverage our expertise in Core Mechanical and Software
                  services, we have developed a few unique manufacturing systems with the most
                  prominent technologies.
                </p>
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  COMEDS also offers exclusive recruitment services to depute resources 
                  globally, mainly to the industries to which they render services.
                </p>
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  To sustain in the contemporary industrial civilization, COMEDS functions with 
                  an openhearted approach to embrace every possible engineering innovation and 
                  technology. Have a glance at our client testimonials to know us better.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
