<div style="overflow-x: hidden">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(../assets/img/gallery/solution.jpg);
        background-position: center bottom;
      "
    ></div>
    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              Mechanical Solutions
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-100" style="padding: 4rem 0rem">
    <div class="container">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Mechanical Services</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
    </div>
    <div class="container mt-4">
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0"
            style="background-image: url(assets/img/gallery/lifting_device.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0 rounded-lg-te-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Lifting Device</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Our metallic lifting devices are made of steel or alloy as per
                  the client’s requirements and the usage specifics. To aid in
                  easy, quick and safe lifting, positioning and installing the
                  components we design and deliver a range of lifting devices
                  which includes forklifts, boom lifts, scissor lifts, picker
                  lifts, electric hoist lifts, pulley lifts, overhead crane
                  lifting, hydraulic pallet truck and stack lifts etc...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative order-lg-2"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0"
            style="background-image: url(assets/img/gallery/sensor.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  Work Positioners And Inveters
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Our work positioners and inverters are mostly used in assembly
                  units that handle heavy and complex equipment or materials in
                  a manual/automated manner to lift, rotate, tilt and place to
                  precision; Our work positioners have inverter function which
                  enables operations such as soft start and stop, provides high
                  accuracy in transit, multiple speed options and many
                  additional advantages like silent running can be annexed.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0 rounded-bs-0 rounded-lg-bs-lg"
            style="background-image: url(assets/img/gallery/Ladders.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  Ergonomic Personal Equipment
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  The range of Ergonomic Personnel Equipment caters to
                  supplementing the mechanical processes in manufacturing units,
                  assembly lines, and packaging units. Lift platforms, pulling
                  devices, docking stations, personnel ladders, rolling ladders
                  and much more auxiliary equipment are there in this personnel
                  portfolio. We also provide ergonomic safety gear for the
                  workforce.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative order-lg-2"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0"
            style="background-image: url(assets/img/gallery/asmt.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg rounded-lg-be-0"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>
                  Assembly Machine Tools and Fixtures
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Assembly units can improvise the quality of their assembled
                  products/spares using our fully automatic and semi-automatic
                  assembly machine tools. Fixtures play a primary binding role
                  in any manufacturing facility, by locating, fixing and
                  orienting the tools for accurate output and streamlined
                  process flow. We have demonstrated a notable reduction in
                  assembling time, cost and wastage by using our
                  process-specific machine tools and fixtures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 position-relative mb-4 mb-lg-0">
        <div
          class="col-lg-6 py-3 py-lg-0 mb-0 position-relative"
          style="min-height: 400px"
        >
          <div
            class="bg-holder rounded-ts-lg rounded-te-lg rounded-lg-te-0 rounded-lg-ts-0 rounded-bs-0 rounded-lg-bs-lg"
            style="background-image: url(assets/img/gallery/conveyors.jpg)"
          ></div>
        </div>
        <div
          class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 bg-white rounded-bs-lg rounded-lg-bs-0 rounded-be-lg"
        >
          <div class="elixir-caret d-none d-lg-block"></div>
          <div class="d-flex align-items-center h-100">
            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                <h5 data-zanim-xs='{"delay":0}'>Customized Conveyor Sytems</h5>
              </div>
              <div class="overflow-hidden">
                <p class="mt-3" data-zanim-xs='{"delay":0.1}'>
                  Transporting materials and parts from one place to another can
                  either be a profitable or a loss-making process. Quicker and
                  safer the conveyance makes the whole process of the unit
                  efficient. We are specialists in customizing your conveyor
                  systems to match your industrial process with a high level of
                  accuracy, optimal speed and suitability. We customize various
                  types of conveyor systems for specific purposes delivering,
                  receiving, pulling, blowing, unloading, pressing and pumping
                  etc...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-6">
      <div class="text-center mb-6">
        <h3 class="fs-2 fs-md-3">Our Mechanical Consulting Services</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Drawing & Designing Service
                </h5>
              </div>

              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  The drawing knowledge and skills that we accumulated over the
                  years, together with the significant experience, drive us to
                  be informed on technologies and aware of contemporary
                  industrial processes, allowing us to fulfill the industry's
                  rigorous quality requirements.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  3D Modelling Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  To supplement product design development practices, our highly
                  skilled team of engineers and designers assists you in
                  developing high-quality 3D CAD / CATIA (Mention any other
                  software here) models in accordance with the required
                  standards and codes for industrial equipment, mechanical parts
                  and components, machinery, sheet metal products, surface &
                  solid modeling and assemblies as per the client's needs.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Automation Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Our extensive machine and equipment control systems experience
                  will ensure that cutting-edge design, easy integration and
                  affordable process automation solutions are delivered. You may
                  be looking forward to improving an existing R&D or
                  manufacturing process, increasing your production capacity or
                  want to start an entirely new product or process. Our
                  automation services can help you in reducing downtime, improve
                  safety, automate operations and allow for future compatibility
                  with technology.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Simulation Services
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  The core motto of running simulations is to analyze the
                  effectiveness of the new process or improvised process models
                  and to rule out possibilities of failures. Our
                  interdisciplinary experts can foresee the wide range of
                  engineering issues and resolve them at the design and drawing
                  stage itself. However, certain inevitable and critical
                  findings are identified during the simulation of the working
                  models.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Validation Service
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Once engineering prototypes are generated, an engineering
                  validation is done to check that the basic equipment meets
                  design goals and standards. The validation process guarantees
                  that the developed unit satisfies the client's needs and
                  objectives. It also aids in the investigation of the reasons
                  for various failures and abnormalities, advising engineers on
                  whether to fix or replace systems and your organization.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Manufacturing Support
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  Apart from our focus on the design, development, simulation
                  and validation services we liaison with the equipment
                  manufacturers to manufacture the machine/tool as per the given
                  inputs.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Sourcing Support
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We help the client to procure various tools and machines for
                  their continuous process flow. We source machines and tools
                  across the world and can deliver them to our clients in any
                  country of operation
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-4">
          <div class="card h-100">
            <div
              class="card-body"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div class="overflow-hidden">
                <h5 class="card_title" data-zanim-xs='{"delay":0}'>
                  Safety Audits
                </h5>
              </div>
              <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim-xs='{"delay":0.2}'>
                  We perform periodic machine safety audits after the
                  installation of the equipment. Thus ensuring the safety
                  standards are met to avoid any possible harm to manpower and
                  production losses and to safeguard from industrial dangers due
                  to compromised safety measures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
