<div style="overflow-x: hidden">
  <section>
    <div
      class="bg-holder overlay"
      style="
        background-image: url(../assets/img/gallery/contact_us.jpg);
        background-position: center bottom;
      "
    ></div>

    <div class="container">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
        <div
          class="col-md-8 text-white"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <h1
              class="text-white fs-4 fs-md-5 mb-0 lh-1"
              data-zanim-xs='{"delay":0}'
            >
              Contact Us
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div style="padding: 4rem 0rem" class="bg-100">
    <div class="container">
      <div class="row align-items-stretch justify-content-center mb-4">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">USA Office</h5>
              <p class="mb-0 text-1100">
                500, Grant Street,<br />Suite 2900 - 225,<br />Pittsburgh,<br />PA
                - 15219,<br />+1 864-279-24136
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">India Office</h5>
              <p class="mb-0 text-1100">
                7th Floor,<br />Spencer Plaza Mount Road, <br />Chennai,<br />
                Tamilnadu - 600002,<br />+44 28505286
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5>Socials</h5>
              <a
                class="d-inline-block mt-2"
                href="https://www.linkedin.com/company/comeds/"
                target="_blank"
                rel="noopener noreferrer"
                ><span class="fab fa-linkedin fs-2 me-2 text-primary"></span></a
              ><a
                class="d-inline-block mt-2"
                href="https://twitter.com/comedsglobal"
                target="_blank"
                rel="noopener noreferrer"
                ><span
                  class="fab fa-twitter-square fs-2 mx-2 text-primary"
                ></span></a
              ><a
                class="d-inline-block mt-2"
                href="https://www.facebook.com/profile.php?id=100086404268516"
                target="_blank"
                rel="noopener noreferrer"
                ><span
                  class="fab fa-facebook-square fs-2 mx-2 text-primary"
                ></span
              ></a>
            </div>
          </div>
        </div> -->
      </div>

      <div class="map mb-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.612094108436!2d-79.9981310849294!3d40.43958757936247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f159ed5bbb7f%3A0x2098099ef19cd73d!2sRegus%20-%20Pittsburgh%20-%20Grant%20Street!5e0!3m2!1sen!2sin!4v1663681387640!5m2!1sen!2sin"
          width="600"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1272.3746444981398!2d-82.29109944179527!3d34.770941282816715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8858266d6f394e05%3A0x76aa15977de999ac!2s503%20S%20Main%20St%20%236016%2C%20Mauldin%2C%20SC%2029662%2C%20USA!5e0!3m2!1sen!2sin!4v1697112828111!5m2!1sen!2sin"
          width="600"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.5970724034396!2d80.25891131440571!3d13.061299990797078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52661666632c2f%3A0xcb96e60c44373e64!2sSpencer%20Plaza%20Mall%2C%20Anna%20Salai%2C%20Chennai%2C%20Tamil%20Nadu%20600002!5e0!3m2!1sen!2sin!4v1663681324635!5m2!1sen!2sin"
          width="600"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="card">
        <div class="card-body h-100 p-5">
          <h5 class="mb-3">Write to us</h5>
          <form
            action="https://formsubmit.co/info@comedsglobal.com"
            method="POST"
          >
            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="text"
                minlength="10"
                maxlength="50"
                name="Name"
                placeholder="Your Name"
                required="required"
              />
            </div>
            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="email"
                name="Email"
                placeholder="Email"
                required="required"
              />
            </div>
            <div class="mb-4">
              <textarea
                minlength="10"
                maxlength="500"
                class="form-control bg-white"
                rows="11"
                name="discription"
                placeholder="Enter your descriptions here..."
                required="required"
              ></textarea>
            </div>
            <button class="btn btn-md-lg btn-primary" type="Submit">
              <span class="color-white fw-600">Send Now</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
